<!DOCTYPE html>
<html>
  <head>
    <title>Glowing Umbrella Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">Glowing Umbrella Careers</h1>
    <img class="img-fluid" src="static/banner.jpg" height="320px" >
    <h2 class="text-center mt-4 mb-4">About Glowing Umbrella</h2>
    <p class="lead">
      Thank you for your interest in working with Glowing Umbrella. We are a company that specializes in creating high-quality umbrellas that not only protect you from the elements, but also add a touch of style to your everyday life. We are always on the lookout for talented individuals who are passionate about what they do and are committed to excellence.
      <br>
      <br>
      We currently have the following positions available:
    </p>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
    <p>TODO - Show the jobs here</p>
    <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright 2023, Glowing Umbrella</p>
    </div>
  </div>
  </body>
</html>